.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  path {
    fill: #777;
  }
}

.footer_content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * + * {
    margin-left: 10px;
  }
}

.footer_icon {
  & + & {
    margin-left: 5px;
  }
}

.footer_spacer {
  flex: 1 1;
}

form {
  input,
  textarea {
    font-family: "Open Sans", sans-serif;
  }
}

.about {
  h3 {
    margin: 0.5em 0;
  }

  .post-header > :first-child,
  .post-content > :first-child {
    margin-top: 0;
  }

  .social {
    list-style: none;
    padding: 0;
    h4 {
      display: inline;
    }
    a, span {
      margin-left: 1em;
    }
  }

  .timeline {
    padding: 0;
    position: relative;

    &::before {
      content: '▲';
      position: absolute;
      left: -7px;
      top: -7px;
      color: #57c4c6;
    }

    li {
      border-left: 3px solid;
      border-bottom: 1px solid #f3f3f3;
      position: relative;
      padding-left: 130px;
      list-style: none;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;

      .start {
        position: absolute;
        left: 10px;
        bottom: 0;
      }

      @media screen and (min-width: 48em) {
        &:hover::before {
          content: attr(data-duration);
          transform: rotate(-90deg);
  	      transform-origin: left top 0;
          position: absolute;
          left: -2.5rem;
          bottom: 0;
        }
      }

      h4 {
        margin: 0;
        margin-bottom: 4px;
      }
      p {
        margin-bottom: 4px;
      }
    }

    $height-per-month: 15px;
    .hostmaker {
      &:hover::before {
        color: #57c4c6;
      }
      border-left-color: #57c4c6;
      min-height: 25 * $height-per-month;
    }
    .consulting {
      &:hover::before {
        color: #228AE6;
      }
      border-left-color: #228AE6;
      min-height: 7 * $height-per-month;
    }
    .wrap {
      &:hover::before {
        color: #98C33D;
      }
      border-left-color: #98C33D;
      min-height: 13 * $height-per-month;
    }
    .wix {
      &:hover::before {
        color: #FFC233;
      }
      border-left-color: #FFC233;
      min-height: 21 * $height-per-month;
    }
    .barclays {
      &:hover::before {
        color: #33ADEF;
      }
      border-left-color: #33ADEF;
      min-height: 5 * $height-per-month + 70px;
    }
    .insoft {
      &:hover::before {
        color: #CC0001;
      }
      border-left-color: #CC0001;
      min-height: 21 * $height-per-month;
    }
  }

  @media screen {
    .print-only {
      display: none;
    }
  }

  @media print {
    .web-only {
      display: none;
    }

    section {
      page-break-inside: avoid;
    }

    .site-nav,
    .footer {
      display: none;
    }
    .post {
      padding-top: 0;
      padding-bottom: 0;
    }
    .site-wrap:after {
      height: 0;
    }
    a {
      color: #333333;
    }
    .timeline {
      &::before {
        display: none;
      }

      li {
        flex-direction: column;
        border-left: none !important;
        min-height: 0 !important;
        height: auto !important;

        .start {
          top: 0;
          display: block;

          &::after {
            content: ' - ' attr(data-end);
            display: block;
          }
        }
      }
    }
  }
}
