.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  path {
    fill: #777;
  }
}

.footer {
  .left {
    float: left;
    line-height: 100px;
  }
  .right {
    float: right;
    line-height: 100px;
  }
}
